* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif
}

main {
    min-height: 84.8vh;
}

.page__title {
    text-align: center;
    padding: 1rem 0;
    text-decoration: underline;
}

svg {
    width: 3rem;
}

iframe {
    width: 100%;
    height: 84.4vh;
    border: 0;
}